# --------------------------------------------------------------------------
# Inventory Dashboard Frontend
# --------------------------------------------------------------------------
# Local development
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api

# Production
# NEXT_PUBLIC_API_URL=https://inventory-api-utcf.onrender.com/api
